:root {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background:#9AA670;

    margin: 12px;
}

nav {
    background:#E8F0CB;

    border-radius: 8px;
    margin-bottom: 16px;
    padding-bottom: 6px;
}

.nav-caption {
    font-family: "Arial Black", sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.5;
    text-align: center;

    padding: 10px;

    display: block;
}

.nav {
    list-style: none;
    
    padding-left:  0;
    margin-top:    3px;
    margin-bottom: 0;
}

.nav > li {
    text-align: center;
    padding:    0;
}

.nav > li > a {
    padding: 6px 10px;

    display: block;
}

.nav > li > a:hover {
    background: #FFFFFF;
}

:link {
    color:  #006EBE;
    text-decoration: none;
}

:link:hover {
    color: #5EAAE0;
}

:visited {
    color: #0B257D;
}

article {
    background: #ffffff;

    border-radius: 8px 8px 0px 0px;
    padding:       16px;
}

article header {
    font-size: 12px;
    line-height: 1.166666;
    
    background: #E9E9E9;

    border-radius: 8px;
    padding: 8px;
}

figure {
    background: #E8F0CB;

    margin:        16px 0;
    border-radius: 12px 12px 8px 6px;
}

figure > img {
    display: block;
}

ol {
    list-style:    none;
    margin-top:    0;
    margin-bottom: 0;
    padding-left:  0;
}

ol > li {
    border-bottom: 1px solid #DBE4BC;
    padding:       10px;
    padding-left:  30px;
}

ol > li::before {
    content: counter(list-item) ".";

    margin-left: -20px;

    display: inline-block;
    width: 20px;
}

ol > li:last-child {
    border-bottom: 0;
}

ol > li:nth-child(even) {
    background: #f9fee7;
}

ol > li:nth-child(3) {
    background: #fff5f3;
}

footer {
    line-height: 1.166666;

    background:#E8F0CB;

    border-radius: 0 0 8px 8px;
    padding:       20px;
}

.copyright,
.imprint {
    display: block;
}

.bullet {
    display: none;
}

.copyright {
    margin-bottom: 6px;
}

h1 {
    font-family: Tahoma, sans-serif;
    font-size:   36px;
    font-weight: 700;
    line-height: 1.206944;

    margin-top:    16px;
    margin-bottom: 16px;
}

h2 {
    font-family: Tahoma, sans-serif;
    font-size:   18px;
    font-weight: 700;
    line-height: 1.207222;

    margin-top:    8px;
    margin-bottom: 8px;
}

p {
    margin-top:    8px;
    margin-bottom: 8px;
}

p + h2 {
    margin-top: 16px;
}

figcaption {
    font-family: "Arial Italic", sans-serif;
    font-size:   12px;
    font-style:  italic;
    font-weight: 400;
    line-height: 1.75;

    padding:    10px;
    text-align: center;
}

img {
    max-width:     100%;
    height:        auto;
    border-radius: 12px;
}

@media screen and (min-width: 620px) {
    :root {
        font-size: 16px;
        line-height: 1.5;
    };
    
    body {
        margin: 24px 24px 44px;
    }

    nav {
        padding-bottom: 0;

        display: inline-block;
    }

    .nav-caption {
        display: none;
    }

    .nav {
        margin-top: 0;
    }

    .nav > li {
        display: inline-block;
    }

    .nav > li > a {
        border-radius: 4px;
    }

    .nav-wrapper,
    article,
    footer {
        margin-right: auto;
        margin-left:  auto;

        max-width: 680px;
    }

    figcaption {
        font-family: "Arial Italic", sans-serif;
        font-size:   16px;
        font-style:  italic;
        font-weight: 400;
        line-height: 1.3125;
    
        padding-top:    20px;
        padding-bottom: 0;
        text-align: center;
    }

    figure {
        margin-top: 8px;
        border-radius: 4px;
        padding: 20px 23.5px;
    }
    
    figure > img {
        border-radius: 0px 6px 0px 4px;
    }

    footer {
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
    }

    article {
        padding: 16px 30px;
    }

    .copyright,
    .imprint,
    .bullet {
        display: inline;
    }
}



@media screen and (min-width: 820px) {
    :root {
        font-size: 16px;
        line-height: 1.5;
    }

    body {
        margin: 64px 64px 36px;
    }

    nav {
        padding: 4px;

        display: block;
        text-align: center;
    }

    .nav-caption {
        display: none;
    }

    .nav {
        margin-bottom: 0;
    }

    .nav > li {
        display: inline-block;
    }

    .nav > li > a {
        border-radius: 4px;
    }

    .nav-wrapper,
    article,
    footer {
        margin-right: auto;
        margin-left:  auto;
        
        max-width: 800px;
    }

    figcaption {
        font-family: "Arial Italic", sans-serif;
        font-size:   16px;
        font-style:  italic;
        font-weight: 400;
        line-height: 1.3125;
    
        padding:    10px 20px 14.5px;
        text-align: center;
    }

    figure {
        margin-top: 8px;
        border-radius: 16px;
        padding: 24.5px 21px 0;
    }
    
    figure > img {
        width: 658px;
        height: 341px;
        border-radius: 12px;
    }

    footer {
        font-size: 16px;
        line-height: 1.5;
    }

    article {
        padding: 30px 50px;
    }

    .copyright,
    .imprint,
    .bullet {
        display: inline;
    }
}